/* ===== Importes: Fontes ===== */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

.header {
    background-color: #010e14;
    color: white;
    padding: 1rem 0;
    width: 100%;
    min-width: 790px;
    border-bottom: 2px solid #effbfe;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80rem;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;
}

.header .container .logo{
    flex: 0.25;
}

.header .container .logo .blue-logo h1{
    font-family: 'Sawari Gothic', sans-serif;
    font-size: 1.5rem;
}

@media (max-width: 635px){
    .header .container .navigation{
        padding: 0 1vw;
    }
}

.header .container .links-nav{
    flex: 0.75;
}

.header .container .links-nav .links-list,
.header .container .info-nav .info-nav{
    display: flex;
    align-items: center;
}

.header .container .links-nav .links-list li{
    flex: 1;
    display: flex;
}

.header .container .links-nav .links-list :first-child a{
    border-left: 1px solid #5897d1;
}

.header .container .links-nav .links-list li a{
    flex: 1;
    text-align: center;
    text-transform: uppercase;
    border-right: 1px solid #5897d1;
}

.header .container .info-nav{
    flex: 0.25;
}

.header .container .user-info a{
    border-radius: 0.5rem;
    min-width: 7rem;
    padding: 0.5rem 0;
    text-align: center;
    transition: 0.1s;
    background-color: #9db5cc;
}

.header .container .user-info .sign-in-button{
    background-color: #5897d1;
}

.header .container .navigation .links-list li a:hover,
.header .container .navigation .links-list li a:focus,
.header .container .user-info .sign-in-button:hover,
.header .container .user-info .sign-in-button:focus,
.header .container .user-info .login-button:hover,
.header .container .user-info .login-button:focus{
    background-color: #74ce5e;
}