.product-card{
    width: 10rem;
    height: 15rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #77b1cc;
    margin: 0.25rem;
}

.product-card .link-card{
    display: flex;
    justify-content: center;
}

.product-card .link-card .product-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card .link-card .product-content .product-title{
    font-weight: bolder;
    margin-bottom: 0.25rem;
	overflow-y: scroll;
}

.product-card .link-card .product-content .product-description{
    flex: 1;
    max-height: 4rem;
	overflow-y: scroll;
}